@import "tailwindcss";
@import "./styles/colors.css";
@import "./styles/typography.css";

:root {
  font-family: 'Varela Round', sans-serif;
  font-size: var(--text-body);
  line-height: var(--leading-body);
  color: #111827;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-gray-100);
}
